<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 增删改查 节点 所对应的抽象方法 所在的接口位置-->
<mapper namespace="com.qf.mapper.GoodsMapper">
    <!--查询所有商品信息-->
    <select id="getAllGoods" resultType="com.qf.pojo.GoodsInfo">
        SELECT * FROM goodsinfo
    </select>
    <!--新增商品信息-->
    <insert id="addGoods" parameterType="com.qf.pojo.GoodsInfo">
        INSERT INTO goodsinfo(g_id,g_core,g_title,g_name,g_price,g_discount,g_disctprice,g_num,g_desc,g_pic,g_status,g_date,s_id)
        VALUES(DEFAULT,#{g_core},#{g_title},#{g_name},#{g_price},#{g_discount},#{g_disctprice},#{g_num},#{g_desc},#{g_pic},#{g_status},default,#{s_id})
    </insert>
    


</mapper>