<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 增删改查 节点 所对应的抽象方法 所在的接口位置-->
<mapper namespace="com.qf.mapper.SellersMapper">
    <!--店家后台登录-->
    <select id="loginSeller" parameterType="com.qf.vo.SellerVo" resultType="com.qf.pojo.SellerInfo">
        SELECT * FROM sellerinfo WHERE
        s_name = #{s_name} AND s_pwd = #{s_pwd}
    </select>
    <!--根据商家id 获取商家详细信息-->
    <select id="getSellerById" parameterType="int" resultType="com.qf.pojo.SellerInfo">
        SELECT * FROM sellerinfo WHERE
        s_id =  #{s_id}
    </select>
    <!--修改 店家信息-->
    <update id="updateSeller" parameterType="com.qf.vo.SellerVo">
        UPDATE sellerinfo set
            <if test="s_name != null and s_name !=''">
                s_name = #{s_name},
            </if>
            <if test="s_pwd != null and s_pwd !=''">
                s_pwd = #{s_pwd},
            </if>
            <if test="s_phone != null and s_phone !=''">
                s_phone = #{s_phone},
            </if>
            <if test="s_address != null and s_address !=''">
                s_address = #{s_address},
            </if>
            <if test="s_desc != null and s_desc !=''">
                s_desc = #{s_desc},
            </if>
            <if test="s_status != null and s_status !=''">
                s_status = #{s_status},
            </if>
            <if test="icon != null and icon !=''">
                icon = #{icon},
            </if>
        s_lastdate = default where s_code = #{s_code}
    </update>

    <!--修改商家头像-->
    <update id="updatePicBySellerId" >
        update sellerinfo set icon=#{icon} where s_code = #{s_code}
    </update>
</mapper>