<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.SellerInfoMapper">

    <!--查询所有-->
    <select id="listAllSellerInfo" resultType="com.qf.pojo.SellerInfo">
        select * from sellerinfo
    </select>
    <!--分页的总数和数据-->
    <select id="count" resultType="int">
      select count(*) from sellerinfo
    </select>

    <select id="page" parameterType="java.util.Map" resultType="com.qf.dto.SellerInfoDto">
      select * from  sellerinfo  limit #{start}, #{length}
    </select>
<!--删除单个-->
    <delete id="deleteSellerInfoById" parameterType="int">
        delete from sellerinfo where s_id=#{s_id}
    </delete>
    <!--根据商店查询商品的分页的总数和数据-->
    <select id="counts" resultType="int" parameterType="int">
      SELECT COUNT(*) FROM goodsinfo g,sellerinfo s,seller_goods sg WHERE g.g_id=sg.`gid` AND sg.`sid`=s.`s_id`AND s.`s_id`= #{sellerId}
    </select>

    <select id="pages" parameterType="java.util.Map" resultType="com.qf.pojo.GoodsInfo">
     SELECT * FROM goodsinfo g,sellerinfo s,seller_goods sg WHERE g.g_id=sg.`gid` AND sg.`sid`=s.`s_id`AND s.`s_id`= #{sellerId} limit #{start}, #{length}
    </select>
    <!--商家信息录入-->
    <insert id="insertSellerInfo" parameterType="com.qf.pojo.SellerInfo">
         insert into sellerinfo (s_name,s_pwd,s_phone,s_address,s_desc,icon,s_status) values (#{s_name},#{s_pwd},#{s_phone},#{s_address},#{s_desc},#{icon},1)
    </insert>

    <!--查询单个商家-->
    <select id="getSellerInfoById" parameterType="int" resultType="com.qf.pojo.SellerInfo">
        select * from sellerinfo where s_id= #{sellerId}
    </select>
    <!--修改商家头像-->
    <update id="updateIconBySellerId" >
        update sellerinfo set icon=#{icon} where s_id=#{sellerId}
    </update>
    
    <!--修改商家信息-->
    <update id="updateSellerInfo" parameterType="com.qf.pojo.SellerInfo" >
        update sellerinfo set s_name =#{s_name} ,s_pwd=#{s_pwd} ,s_phone=#{s_phone},s_address=#{s_address},s_desc=#{s_desc},s_status=#{s_status} where s_id=#{s_id};
    </update>

    <!--商店订单总数-->
    <select id="countOrderOfSeller" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM orderinfo WHERE s_id = #{sellerId}
    </select>
    <!--商店订单分页查询-->
    <select id="pageOrdersOfSeller" parameterType="java.util.Map" resultType="com.qf.pojo.OrderInfo">
        SELECT * FROM orderinfo WHERE s_id = #{sellerId} limit #{start}, #{length}
    </select>
</mapper>
