<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserInfoMapper">
    <!--管理员登录-->
    <select id="adminLogin" parameterType="com.qf.pojo.AdminInfo" resultType="com.qf.pojo.AdminInfo">
       SELECT * FROM admininfo WHERE ausername=#{ausername} AND apassword=#{apassword}
    </select>

    <select id="listAllUserInfo" resultType="com.qf.pojo.UserInfo">
        SELECT * FROM userinfo
    </select>

    <!--通过Id删除用户-->
    <delete id="deleteUserInfoById" parameterType="int">
        delete from userinfo where userId=#{userId}
    </delete>
    <!--分页-->
    <select id="count" resultType="int">
      select count(*) from userinfo
    </select>

    <select id="page" parameterType="java.util.Map" resultType="com.qf.pojo.UserInfo">
      select * from  userinfo  limit #{start}, #{length}
    </select>

    <!--添加会员-->
    <insert id="insertUserInfo" parameterType="com.qf.dto.UserInfoDto">
       insert into userinfo (username,password,email,phonenumber) values (#{username},#{password},#{email},#{phonenumber})
    </insert>

    <!--批量删除-->
    <delete id="deleteUsersInfo" parameterType="list">
        delete from  userinfo where userId in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
<!--通过Id查询用户-->
    <select id="getUserInfoById" parameterType="int" resultType="com.qf.pojo.UserInfo">
        select * from userinfo where userId = #{userId}
    </select>

    <!--修改用户-->
    <update id="updateUserInfoById" parameterType="com.qf.pojo.UserInfo">
      update userinfo set username=#{userName},password=#{password},email=#{email},phonenumber=#{phoneNumber} where userId=#{userId}
    </update>


    <!--通过用户ID查询用户详细信息-->
    <select id="getUserDetailById" parameterType="int" resultType="com.qf.pojo.UserDetailInfo">
        select * from userdetail where userId = #{userId}
    </select>
    <!--查询订单总数-->
    <select id="orderCount" resultType="int" parameterType="int">
      SELECT COUNT(*) FROM orderinfo o,order_detail od WHERE userId=#{userId} AND o.id=od.o_orderid
    </select>
    <select id="pageOrder" parameterType="java.util.Map" resultType="com.qf.dto.OrderInfoDto">
    SELECT o.`userId`,o.o_shperson,od.order_date,od.g_name,od.g_total_price,o.o_province,o.o_city,o_district,o_shaddress,od.o_orderid
    FROM orderinfo o,order_detail od
    WHERE o.id=od.o_orderid AND o.`userId`=#{userId}
    limit #{start}, #{length}
    </select>
    <!--查询用户名是否存在-->
    <select id="checkUserName" resultType="int" parameterType="String">
        select count(*) from userinfo where username=#{username}
    </select>
</mapper>