<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CategoryMapper">


    <resultMap id="category" type="com.qf.dto.CategoryDto">
        <id column="c_id" property="c_id"></id>
        <result column="c_name" property="c_name"></result>
        <collection property="goodsInfos" ofType="com.qf.dto.CategoryDto">
            <id column="g_id" property="g_id"></id>
            <result column="g_id" property="g_id"></result>
            <result column="g_name" property="g_name"></result>
        </collection>
    </resultMap>
    <select id="goods" resultMap="category">
        SELECT
        c.c_id,c_name,g.g_title,g.g_id,g.g_name
        FROM
        category c,goods_category gc,goodsinfo g
        WHERE
        c.c_id=gc.c_id and gc.g_id=g.g_id;
    </select>




    <!--查询所有一级类别信息-->
    <select id="getFatherInfo" resultType="com.qf.pojo.Category">
        select * from category where c_parentid = 0
    </select>
    <!--查询所有的二级类别信息-->
    <select id="getChildInfo" resultType="com.qf.pojo.Category">
        select * from category where c_parentid != 0
    </select>
    <!--根据父类id 查询它所包含的所有子类信息-->
    <resultMap id="categoryMap" type="com.qf.vo.CategoryVo">
        <id column="fatherid" property="fatherId"></id>
        <result column="fathername" property="fatherName"></result>
        <collection property="categoryList" ofType="com.qf.pojo.GoodsInfo">
            <id column="g_id" property="goodsid"></id>
            <result column="g_name" property="goodsname"></result>
        </collection>
    </resultMap>
    <select id="getChildCategoryInfo" resultMap="categoryMap" parameterType="int">
        SELECT  a.c_parentid fatherid,b.c_name fathername ,a.c_id childid, a.c_name childname ,g.g_id goodsid, g.g_name goodname
        FROM category a , category b ,goods_category gc,goodsinfo g WHERE a.c_parentid = b.c_id and a.c_id=gc.c_id and g.g_id=gc.g_id and a.c_parentid = #{fathername};
    </select>



    <!--查询商品详细信息-->
    <select id="getGoodsInfoById" parameterType="int" resultType="com.qf.dto.GodsInfoDetail">
         SELECT g.*,s.`s_name`  FROM goodsinfo g ,sellerinfo s
         WHERE g.`s_id`=s.`s_id` AND g.`g_id`=#{g_id}
    </select>

    <!--查询用户选择的地址-->
    <select id="searchAddress" resultType="com.qf.dto.AddressInfoDto" parameterType="int">
        select * from addressinfo where adsId = #{adsId}
    </select>

    <!--添加订单-->
    <insert id="insertOrder" parameterType="com.qf.dto.AddressInfoDto">
        insert into orderinfo (id,o_sendtype,o_paycount,o_province,o_city,o_district,o_shaddress,o_shperson,o_shphone,userId,o_paytype,s_id)
        values (#{id},#{o_sendtype},#{price},#{province},#{city},#{district},#{street},#{shname},#{shphone},#{userId},'支付宝',#{s_id})
    </insert>

    <!--查找购买的商品-->
    <select id="searchGoods" parameterType="int" resultType="com.qf.dto.GodsInfoDetail">
        select *  from goodsinfo where g_id=#{g_id}
    </select>
    <!--添加订单详情-->
    <insert id="insertOrderDetail" parameterType="com.qf.dto.Order_DetailDto">
        insert into order_detail (o_orderid,g_id,g_name,g_disctprice,g_desc,g_pic,g_num,g_total_price)
        values (#{o_orderid},#{g_id},#{g_name},#{g_disctprice},#{g_desc},#{g_pic},#{g_num},#{g_total_price})
    </insert>

    <!--查询物流信息-->
    <select id="getlogistics" parameterType="int" resultType="com.qf.dto.Logisticsinfo">
        select * from logisticsinfo where g_id = #{g_id}
    </select>

</mapper>