<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CategoryMapper">

    <!--<resultMap id="findAllKidGoods" type="com.qf.dto.CategoryDto">-->
        <!--<id property="c_id" column="c_id"></id>-->
        <!--<result property="c_name" column="c_name"/>-->
        <!--<collection property="categories" ofType="com.qf.pojo.Category">-->
            <!--<id column="c_id" property="c_id"></id>-->
            <!--<result property="c_name" column="c_name"></result>-->
        <!--</collection>-->
    <!--</resultMap>-->
    <!--<select id="categoryList" resultMap="findAllKidGoods">-->
        <!--SELECT-->
        <!--c.c_id,c1.c_name,c1.c_parentid-->
        <!--FROM-->
        <!--category c,category c1-->
        <!--WHERE-->
        <!--c.`c_id`=c1.`c_parentid`;-->
    <!--</select>-->

    <select id="categoryList" resultType="com.qf.dto.CategoryDto" parameterType="com.qf.dto.CategoryDto">
        SELECT
        c_id,c_name
        FROM
        category
        WHERE
        c_parentid=0;
    </select>

    <select id="categoryListOne" resultType="com.qf.dto.CategoryDto" parameterType="com.qf.dto.CategoryDto">
        SELECT
        ca.c_name,c.c_name
        FROM
        category c,category ca
        WHERE
        ca.c_parentid =c.c_id and ca.c_parentid;
    </select>

    <!--查询商品详细信息-->
    <select id="getGoodsInfoById" parameterType="int" resultType="com.qf.dto.GodsInfoDetail">
         SELECT g.*,s.`s_name`  FROM goodsinfo g ,sellerinfo s
         WHERE g.`s_id`=s.`s_id` AND g.`g_id`=#{g_id}
    </select>

    <!--查询用户选择的地址-->
    <select id="searchAddress" resultType="com.qf.dto.AddressInfoDto" parameterType="int">
        select * from addressinfo where adsId = #{adsId}
    </select>
    <!--添加订单-->
    <insert id="insertOrder" parameterType="com.qf.dto.AddressInfoDto">
        insert into orderinfo (id,o_sendtype,o_paycount,province,city,district,street,shname,shphone,userId)
        values (#{id},#{o_sendtype},#{o_paycount},#{province},#{city},#{district},#{street},#{shname},#{o_shphone},#{userId})
    </insert>
</mapper>