<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.CategoryMapper">
    <!--商品分类-->
    <select id="findByAllGoods" parameterType="com.qf.dto.Category">
        SELECT
        c.c_id,c.c_name,c1.c_name,c1.c_parentid
        FROM
        category c,category c1
        WHERE
        c.c_id=c1.c_parentid and c.cid=1;
    </select>

    <!--查询商品详细信息-->
    <select id="getGoodsInfoById" parameterType="int" resultType="com.qf.pojo.GoodsInfo">
        select * from goodsinfo where g_id=#{g_id}
    </select>

</mapper>