<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserInfoMapper">
    <!--登录-->
    <select id="userInfoLogin" resultType="com.qf.pojo.UserInfo" parameterType="com.qf.vo.UserInfoVo">
        select * from userinfo
        <where>
            <if test="userId != null and userId != '' ">
                or userId=#{userId}
            </if>
            <if test="userName != null and userName != '' ">
                or userName=#{userName}
            </if>
            <if test="password != null and password != '' ">
                and password=#{password}
            </if>
            <if test="phoneNumber != null and phoneNumber != '' ">
                or phoneNumber=#{phoneNumber}
            </if>
            <if test="email != null and email != '' ">
                or email=#{email}
            </if>
        </where>
        and flag = 1;
    </select>

    <!--根据id获取用户信息-->
    <select id="getUserInfoMessageById" resultType="com.qf.dto.UserInfoMessageDto" parameterType="int">
        SELECT u.userId,u.userName,u1.nickName,u1.gender,u1.age,u.email,u1.realname,u1.icon FROM userinfo u,userdetail u1 WHERE u.userId=u1.userID AND u.userId =#{userId};
    </select>

    <!--根据用户id修改用户信息-->
    <update id="updateUserInfo" parameterType="com.qf.dto.UserInfoMessageDto">
        update userinfo u,userdetail ud
        <set>
            <if test="nickName != null and nickName != '' ">
                nickName=#{nickName},
            </if>
            <if test="gender != null and gender != '' ">
                gender=#{gender},
            </if>
            <if test="email != null and email != '' ">
                email=#{email},
            </if>
            <if test="age != null and age != '' ">
                age=#{age},
            </if>
            <if test="realName != null and realName != '' ">
                realname=#{realName}
            </if>
        </set>
        where u.userId=ud.userId and u.userId=#{userId};
    </update>

    <!--注册用户-->
    <insert id="RegisterUserInfo" parameterType="com.qf.vo.UserInfoVo">
        insert into userinfo(userName,password,phoneNumber,email)
        values (<trim suffixOverrides=",">
        <if test="userName !=null and userName !=''">
            #{userName},
        </if>
        <if test="password !=null and password !=''">
            #{password},
        </if>
        <if test="phoneNumber !=null and phoneNumber !=''">
            #{phoneNumber},
        </if>
        <if test="email !=null and email !=''">
            #{email},
        </if>
    </trim>
        )
    </insert>
    <!--查询用户名是否存在-->
    <select id="checkUserName" parameterType="java.lang.String" resultType="int">
        select count(1) from userinfo where userName = #{userName}
    </select>

    <!--查询用户详细信息是否存在-->
    <select id="search" parameterType="int" resultType="int">
        select count(*) from userdetail where userId=#{userId}
    </select>

    <!--添加用户详细信息-->
    <insert id="insertUserDetail" parameterType="com.qf.dto.UserInfoMessageDto">
        insert into userdetail (nickName,gender,age,realname,userId)
        values (#{nickName},#{gender},#{age},#{realName},#{userId})
    </insert>

    <!--修改用户头像-->
    <update id="updateIconByUserId" parameterType="map">
        update userdetail set icon=#{icon} where userId=#{userId}
    </update>

    <!--个人详细地址查询-->
    <select id="getUserInfoAddressById" parameterType="int" resultType="com.qf.dto.AddressInfoDto">
    SELECT *
    FROM addressinfo
    WHERE userId=#{userId}
    </select>

    <!--添加收货地址-->
    <insert id="insertUserAddress" parameterType="com.qf.dto.AddressInfoDto">
        insert into addressinfo (province,city,district,street,shname,shphone,userId) values (#{province},#{city},#{district},#{street},#{shname},#{shphone},#{userId})
    </insert>

    <!--删除收货地址-->
    <delete id="deleteAddressByUserId" parameterType="int">
        delete from addressinfo where adsId = #{adsId}
    </delete>

<!--首页查询个人用户留言信息-->
    <select id="selectUserByMessage" parameterType="int" resultType="com.qf.dto.MessageDto">
      SELECT m.g_id,m.context,m.userid,u.nickName,u.gender,u.icon FROM message m,userdetail u WHERE m.`userId`=u.`userId` and m.g_id=#{g_id};
    </select>

<!--添加用户留言-->
    <insert id="insertMessageByGoods" parameterType="com.qf.dto.MessageDto">
      INSERT INTO message (g_id,userId,context) VALUES (#{g_id},#{userId},#{message})
    </insert>

    <!--评价商家信息图片显示-->
    <select id="selectSellPic" parameterType="int" resultType="com.qf.dto.EvaluateDto">
   SELECT g.g_name,g.g_price,g.g_pic,g.g_desc,s.s_name,s.icon FROM sellerinfo s,goodsinfo g WHERE s.s_id=g.s_id AND g.g_id=#{g_id};
    </select>


</mapper>